@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Adani regular";
    src: url(fonts/MinionPro.otf)
    }
@font-face {
    font-family: "Adani regular";
    font-style: italic;
    src: url(fonts/MinionPro-It.otf)
    }
