.author {
    color: maroon;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.calibre {
    display: block;
    font-family: "Adani regular", serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.77778em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre2 {
    height: 474px;
    width: 330px
    }
.calibre3 {
    display: block;
    font-size: 1.25926em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre5 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.calibre6 {
    display: inline;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    font-family: inherit;
    white-space: pre-wrap;
    margin: 1em 0
    }
.calibre8 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    orphans: 8;
    text-align: justify;
    text-indent: 2em;
    white-space: pre-wrap;
    widows: 8
    }
.calibre9 {
    display: inline-block;
    line-height: 1.2;
    width: 3.75em
    }
.calibre10 {
    display: inline-block;
    line-height: 1.2;
    width: 5.5em
    }
.calibre11 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre12 {
    display: inline-block;
    line-height: 1.2;
    width: 6.5em
    }
.calibre13 {
    display: inline-block;
    line-height: 1.2;
    width: 8.75em
    }
.calibre14 {
    display: inline-block;
    line-height: 1.2;
    width: 10.5em
    }
.calibre15 {
    display: inline-block;
    line-height: 1.2;
    width: 11.5em
    }
.calibre16 {
    display: inline-block;
    line-height: 1.2;
    width: 12em
    }
.calibre17 {
    display: inline-block;
    line-height: 1.2;
    width: 12.2em
    }
.calibre18 {
    display: inline;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre19 {
    display: inline-block;
    line-height: 1.2;
    width: 11.8em
    }
.calibre20 {
    display: inline-block;
    line-height: 1.2;
    width: 10.8em
    }
.calibre21 {
    display: inline-block;
    line-height: 1.2;
    width: 9.5em
    }
.calibre22 {
    font-size: 0.75em
    }
.calibre23 {
    display: inline-block;
    line-height: 1.2;
    width: 8em
    }
.calibre24 {
    display: inline-block;
    line-height: 1.2;
    width: 6.6em
    }
.calibre25 {
    display: inline-block;
    line-height: 1.2;
    width: 5.1em
    }
.calibre26 {
    display: inline-block;
    line-height: 1.2;
    width: 4.25em
    }
.calibre27 {
    display: inline-block;
    line-height: 1.2;
    width: 3.5em
    }
.calibre28 {
    display: inline-block;
    line-height: 1.2;
    width: 3.25em
    }
.calibre29 {
    display: inline-block;
    line-height: 1.2;
    width: 3.7em
    }
.calibre30 {
    display: inline-block;
    line-height: 1.2;
    width: 4.2em
    }
.calibre31 {
    display: inline-block;
    line-height: 1.2;
    width: 4.9em
    }
.calibre32 {
    display: inline-block;
    line-height: 1.2;
    width: 5.3em
    }
.calibre33 {
    display: inline-block;
    line-height: 1.2;
    width: 7.2em
    }
.calibre34 {
    display: inline-block;
    line-height: 1.2;
    width: 8.1em
    }
.calibre35 {
    display: inline-block;
    line-height: 1.2;
    width: 8.6em
    }
.calibre36 {
    display: inline-block;
    line-height: 1.2;
    width: 9.1em
    }
.calibre37 {
    display: inline-block;
    line-height: 1.2;
    width: 8.4em
    }
.calibre38 {
    display: inline-block;
    line-height: 1.2;
    width: 7.3em
    }
.calibre39 {
    display: inline-block;
    line-height: 1.2;
    width: 5.8em
    }
.calibre40 {
    display: inline-block;
    line-height: 1.2;
    width: 5em
    }
.calibre41 {
    display: inline-block;
    line-height: 1.2;
    width: 4.5em
    }
.calibre42 {
    font-size: 0.58333em
    }
.calibre43 {
    display: inline-block;
    line-height: 1.2;
    width: 4.15em
    }
.calibre44 {
    display: inline-block;
    line-height: 1.2;
    width: 4em
    }
.calibre45 {
    display: inline-block;
    line-height: 1.2;
    width: 4.4em
    }
.calibre46 {
    display: inline-block;
    line-height: 1.2;
    width: 4.7em
    }
.calibre47 {
    display: inline-block;
    line-height: 1.2;
    width: 6.4em
    }
.calibre48 {
    display: inline-block;
    line-height: 1.2;
    width: 6.7em
    }
.calibre49 {
    display: inline-block;
    line-height: 1.2;
    width: 7em
    }
.calibre50 {
    display: inline-block;
    line-height: 1.2;
    width: 5.7em
    }
.calibre51 {
    display: inline-block;
    line-height: 1.2;
    width: 4.6em
    }
.calibre52 {
    display: block;
    float: left;
    max-width: 170px;
    text-align: left;
    width: 8.5em;
    margin: 0.25em 0 0.25em 0.25em
    }
.calibre53 {
    display: block;
    height: auto;
    max-width: 342px;
    width: 17em
    }
.calibre54 {
    display: block;
    float: left;
    height: 11em;
    max-height: 220px;
    max-width: 170px;
    width: 8.5em;
    margin: 0.25em 0.25em 0.25em 0
    }
.calibre55 {
    display: inline;
    font-style: normal;
    font-weight: bold
    }
.center {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 2em
    }
.chapnum {
    color: teal;
    display: block;
    font-size: 1.48148em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0 1em 1em
    }
.chapnum1 {
    color: teal;
    display: block;
    font-size: 1.48148em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    text-align: left
    }
.chaptitle {
    color: Navy;
    display: block;
    font-size: 1.25926em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0 1em 1em
    }
.chaptitle1 {
    color: Navy;
    display: block;
    font-size: 1.25926em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    text-align: left
    }
.il {
    float: left;
    height: auto;
    max-width: 202px;
    width: 10em;
    margin: 5px
    }
.il1 {
    float: left;
    height: auto;
    max-width: 640px;
    width: 19em;
    margin: 5px
    }
.il2 {
    float: left;
    height: auto;
    max-width: 174px;
    width: 10em;
    margin: 5px
    }
.il3 {
    float: left;
    height: auto;
    max-width: 363px;
    width: 13em;
    margin: 5px
    }
.il4 {
    float: left;
    height: auto;
    max-width: 398px;
    width: 15em;
    margin: 5px
    }
.ir {
    float: right;
    height: 27em;
    width: 18em;
    margin: 5px
    }
.ir1 {
    float: right;
    height: auto;
    max-width: 301px;
    width: 20em;
    margin: 5px
    }
.ir2 {
    float: right;
    height: auto;
    max-width: 392px;
    width: 15em;
    margin: 5px
    }
.ir3 {
    float: right;
    height: auto;
    max-width: 427px;
    width: 17em;
    margin: 5px
    }
.ir4 {
    float: right;
    height: auto;
    max-width: 334px;
    width: 12em;
    margin: 5px
    }
.ir5 {
    float: right;
    height: auto;
    max-width: 407px;
    width: 18em;
    margin: 5px
    }
.ir6 {
    float: right;
    height: auto;
    max-width: 329px;
    width: 14em;
    margin: 5px
    }
.poem {
    display: block;
    font-family: inherit;
    font-style: italic;
    text-align: left;
    text-indent: 0;
    white-space: pre-wrap;
    margin: 1em 3em
    }
.poem1 {
    display: block;
    font-style: italic;
    text-align: left;
    text-indent: 0;
    margin: 1em 3em
    }
.title {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center
    }
.title_box {
    display: block
    }
.titlepage {
    display: block;
    text-align: center
    }
.wideimg {
    height: auto;
    max-width: 400px;
    width: 75%
    }
.wideimg1 {
    height: auto;
    max-width: 640px;
    width: 75%
    }
